html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(32, 32, 32);
    gap: 20px;
    padding: 5px;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(32, 32, 32);
}

header {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(1, 0, 82);
    color: aliceblue;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(32, 32, 32);
    color: aliceblue;
}

.tarjeta_index {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 5px;
    padding-top: 15px;
}

.tarjeta2 {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #e7e7e7;
    width: 600px;
    text-align: center;
}

.tarjeta_servicios {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 5px;
    padding-top: 15px;
}

.tarjeta4 {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: #e7e7e7;
    width: 600px;
    text-align: center;
}

.tarjeta_portafolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 15px;
}

.tarjeta5 {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #e7e7e7;
    width: 600px;
    text-align: center;
}

.tarjeta_nosotros {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 5px;
    padding-bottom: 15px;
}

.tarjeta3 {
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
    width: 200px;
    text-align: center;
}